$container: 1160;
$padding: 32;
$containerWithPadding: $container + ($padding * 2);
$black: #373636;
$white: #ffffff;
$labels_primary: #111827;
$labels_secondary: #6B7280;
$accent: #EA1A0E;
$bg_gray: #F8F8FA;
$bg_secondary: #F3F4F6;
$border: #E5E7EB;
$btn_secondary: #F9FAFB;
$warning: #F59E0B;